[Unit]
Description=Sentry Cron Service
After=network.target

[Service]
Type=simple
User=sentry
Group=daemon
WorkingDirectory=/var/opt/sentry
EnvironmentFile=/etc/default/sentry
ExecStart=/usr/sbin/sentry-cron

[Install]
WantedBy=multi-user.target
