[Unit]
Description=Sentry Web Service
After=network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User=sentry
Group=daemon
WorkingDirectory=/var/opt/sentry
EnvironmentFile=/etc/default/sentry
ExecStart=/bin/bash -c ". /opt/venvs/sentry/bin/activate && /usr/bin/sentry run web --noinput -l '$SENTRY_LOGLEVEL_WEB'"

[Install]
WantedBy=multi-user.target
