[Unit]
Description=Sentry Web Service
Documentation=https://sentry.io/
Documentation=https://docs.sentry.io/quickstart/
Documentation=https://github.com/1and1/debianized-sentry#sentryio-debian-packaging
After=syslog.target network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User=sentry
Group=daemon
WorkingDirectory=/var/opt/sentry
EnvironmentFile=/etc/default/sentry
ExecStart=/usr/sbin/sentry-web

[Install]
WantedBy=multi-user.target
