#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv
#
# Note that this only works after applying
#   https://github.com/spotify/dh-virtualenv/pull/43
# (at least with some versions of virtualenv)

# The below targets create a clean copy of the workdir via
# using "sdist", else "pip" goes haywire when installing from
# sourcedir ".", because that includes the debian build stage,
# and a recursive explosion ensues when symlinks are followed.

export DH_VIRTUALENV_INSTALL_ROOT=/opt/virtualenvs
SNAKE=/usr/bin/python2
EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=17.1" --preinstall "wheel"
NO_BINARY=cffi
DH_VENV_ARGS=--with python-virtualenv --setuptools --python $(SNAKE) \
    --extra-pip-arg='--no-binary=$(NO_BINARY)' $(EXTRA_REQUIREMENTS) #-v
PACKAGE=$(shell dh_listpackages)
VERSION=8.13.0
SDIST_DIR=debian/$(PACKAGE)-$(VERSION)


clean:
	test ! -d $(SDIST_DIR) || rm -rf $(SDIST_DIR)
	-rm debian/*.tar.gz
	dh $@ $(DH_VENV_ARGS)

build-arch:
	# TODO: This should be an orig-tarball
	cd debian && pip download --no-deps --no-binary :all: "sentry==$(VERSION)"
	mkdir -p $(SDIST_DIR)
	tar -xz -C $(SDIST_DIR) --strip-components=1 --exclude '*.egg-info' -f debian/sentry-$(VERSION).tar.gz
	dh $@ $(DH_VENV_ARGS) --sourcedir $(SDIST_DIR)

%:
	dh $@ $(DH_VENV_ARGS) --sourcedir $(SDIST_DIR)
