#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv

export DH_VIRTUALENV_INSTALL_ROOT=/opt/virtualenvs
SNAKE=/usr/bin/python2
EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=17.1" --preinstall "wheel"

ifeq ($(shell lsb_release -cs),jessie)
    NO_BINARY=cffi,symsynd,selenium
else
    NO_BINARY=cffi
endif

DH_VENV_ARGS=--with python-virtualenv --setuptools --python $(SNAKE) \
    --extra-pip-arg='--no-binary=$(NO_BINARY)' $(EXTRA_REQUIREMENTS) #-v
PACKAGE=$(shell dh_listpackages)
VERSION=$(shell parsechangelog | grep ^Version: | sed -re 's/[^0-9]+([^-]+).*/\1/')
SDIST_DIR=debian/$(PACKAGE)-$(VERSION)


clean:
	test ! -d $(SDIST_DIR) || rm -rf $(SDIST_DIR)
	-rm debian/*.tar.gz
	dh $@ $(DH_VENV_ARGS)

build-arch:
	cd debian && pip download --no-deps --no-binary :all: "sentry==$(VERSION)"
	mkdir -p $(SDIST_DIR)
	tar -xz -C $(SDIST_DIR) --strip-components=1 --exclude '*.egg-info' -f debian/sentry-$(VERSION).tar.gz
	cp -rp etc systemd $(SDIST_DIR)
	dh $@ $(DH_VENV_ARGS) --sourcedir $(SDIST_DIR)

%:
	dh $@ $(DH_VENV_ARGS) --sourcedir $(SDIST_DIR)

override_dh_shlibdeps:
	dh_shlibdeps -X/x86/
